<%- include ('partials/header.ejs') %>
            <main>
                <section class="end">
                    <span>FIM</span>
                </section>
            </main>
            <script>
                const endSound = new Audio('/audios/fimUrna.mp3');

                // Pré-carrega o áudio quando a página é carregada
                document.addEventListener("DOMContentLoaded", function() {
                    endSound.load(); // Pré-carrega o som para evitar atrasos
                });

                // Função para tocar o som
                function playEndSound() {
                    endSound.currentTime = 0; // Reinicia o som
                    endSound.play().catch((error) => { console.error("Erro ao tentar reproduzir o áudio:", error); });
                }

                // Função para redirecionar após 1,9 segundos
                setTimeout(function() {
                    playEndSound();
                    setTimeout(function() {
                        window.location.href = "/urna";
                    }, 2000); // Espera 2 segundos para redirecionar
                }, 100); // 1,9 segundos de atraso para tocar o som
            </script>
        <%- include ('partials/footer.ejs') %>