<%- include ('partials/header.ejs') %>
            <main>
                <section class="infos">
                    <div class="head">
                        <h3>Seu voto para</h3>
                    </div>
                    <div class="role">
                        <h1>Candidatura</h1>
                    </div>
                    <form action="/urna/vote" method="POST" class="candidatesInfos">
                        <div class="labels">
                            <label for="partyNumber">Número:</label>
                            <label for="name">Nome:</label>
                            <label for="party">Partido:</label>
                            <label for="viceName">Vice-Candidato:</label>
                        </div>
                        <div class="inputs">
                            <div class="partyNumber borderOn" id="partyNumber">
                                <input type="text" name="firstPartyNumber" id="firstPartyNumber" class="partyNumbers ">
                                <input type="text" name="secondPartyNumber" id="secondPartyNumber" class="partyNumbers ">
                                <input type="text" name="partyNumber" id="partyNumberAll" hidden readonly>
                            </div>
                            <input type="text" name="name" id="blankVote" value="VOTO EM BRANCO" disabled>
                            <input type="text" name="name" id="candidateName" disabled>
                            <input type="text" name="party" id="partyName" disabled>
                            <input type="text" name="viceName" id="viceCandidateName" disabled>
                        </div>
                        <button type="submit" hidden>Confirmar Voto</button>
                    </form>
                    <div class="subtitles">
                        <span class="subHead">Aperte a tecla:</span>
                        <span></span>
                        <span class="subtitlesLeft">CONFIRMA</span>
                        <span class="subtitlesRight">para CONFIRMAR este voto</span>
                        <span class="subtitlesLeft">CORRIGE</span>
                        <span class="subtitlesRight">para REINICIAR este voto</span>
                    </div>
                </section>
                <span class="null">VOTO NULO</span>
                <section class="pics">
                    <figure class="candidate">
                        <img src="/imgs/candidates/45-fernandoHenriqueCardoso.webp" alt="Candidate">
                        <figcaption>Candidato</figcaption>
                    </figure>
                    <figure class="viceCandidate">
                        <img src="/imgs/viceCandidates/45-marcoMaciel.webp" alt="Vice Candidate">
                        <figcaption>Vice Candidato</figcaption>
                    </figure>
                </section>
            </main>
        <%- include ('partials/footer.ejs') %>