@import url('https://fonts.cdnfonts.com/css/recoleta');
@import url('https://fonts.cdnfonts.com/css/bogart');
@import url(https://db.onlinewebfonts.com/c/794a0de6a529290274465576a9a6990b?family=Block+Berthold+Regular);
@import url('https://fonts.cdnfonts.com/css/lexend');

/* ----- HOVER/ACTIVE/FOCUS EFFECT ----- */
.gitHub li:hover { border-bottom: 5px solid #000000; }
.instagram li:hover { border-bottom: 5px solid #F58529; }
.whatsapp li:hover { border-bottom: 5px solid #25D366; }

.infos h3:hover { border-bottom: 5px solid #0000FF; }

/* ----- HOVER/ACTIVE/FOCUS EFFECT ----- */

:root {
    --colorOne: #612C8A;
    --colorTwo: #FF3366;
    --colorThree: #F4C301;
    --fontBody: 'Lexend', sans-serif;;
    --fontTitle: 'Bogart', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-family: var(--fontBody);
    background: #FFFFFF;
}

header {
    width: 100%;
    height: 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:
        "cabecalho" 70%
        "nav" 30%
        / 100%
    ;
}

.cabecalho {
    grid-area: cabecalho;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.logo img { width: 35%; }

.headerSocial {
    width: 40%;
    height: 100%;
}

.headerSocial-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.headerSocial-links a {
    width: 20%;
    height: 100%;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    grid-area: nav;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: var(--colorOne);
}

nav label {
    width: 15%;
    height: 60%;
    color: var(--colorTwo);
    text-align: center;
    align-content: end;
}

nav input[type="radio"] { display:none; }

nav input[type="radio"]:checked + label {
    font-weight: bold;
    color: var(--colorThree);
    border-bottom: solid 2px var(--colorThree);
}

main {
    width: 100%;
    height: 75rem;
    background: var(--colorThree);
    display: flex;
}

.general {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.general h1 {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    font-size: 3rem;
    font-family: var(--fontTitle);
    text-align: center;
    align-content: center;
}

.apuracao {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.apuracao span {
    width: 61%;
    height: 3rem;
    font-size: 1.3rem;
    text-align: center;
    align-content: center;
}

progress {
    width: 40%;
    height: 3rem;
}

.absentee-votes {
    width: 100%;
    display: flex;
    text-align: center;
    height: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.votesTotal {
    width: 50%;
    height: 50%;
    margin-right: 1rem;
    align-content: center;
    text-align: end;
}

.absentee {
    width: 50%;
    height: 50%;
    margin-left: 1rem;
    text-align: start;
    align-content: center;
}

.candidates {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template:
        "more" 50%
        "less" 50%
        / 1fr
    ;
    align-items: center;
}

.moreVotes {
    grid-area: more;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.moreVotes figcaption {
    text-align: center;
    bottom: 2rem;
    position: relative;
    color: var(--colorTwo);
    font-weight: bold;
    background: var(--colorThree);
    height: 2rem;
}

.lessVotes figcaption {
    text-align: center;
    bottom: 2rem;
    position: relative;
    color: var(--colorTwo);
    font-weight: bold;
    background: var(--colorThree);
    height: 2rem;
}

#first, #second {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#third, #fourth,
#fifth {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#first figcaption { color: var(--colorOne); }

.img-first img, .img-second img,
.img-third img, .img-fourth img,
.img-fifth img {
    width: 13rem;
    height: 13rem;
    border-radius: 10rem;
}

.lessVotes {
    grid-area: less;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-party {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.name-party input {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    background: none;
    text-align: center;
}

#candidato-First, #candidato-Second {
    font-size: 2rem;
    color: #000000;
}

#candidato-Third, #candidato-Fourth,
#candidato-Fifth {
    font-size: 1rem;
    color: #000000;
}

.votesCandidate {
    width: 100%;
    height: 5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.percentVotes {
    width: 30%;
    height: 3rem;
    font-size: 2rem;
}

#qtdVotes1, #qtdVotes2,
#qtdVotes3, #qtdVotes4,
#qtdVotes5 {
    width: 30%;
    height: 1.5rem;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background: none;
}

.voteAnalysis {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.voteAnalysis input {
    text-align: center;
    width: 4rem;
    border: none;
    background: none;
    color: #000000;
    font-size: 1rem;
}

.voteAnalysis span {
    font-size: 1rem;
}

.analysis {
    width: 100%;
    margin: 1rem 0;
    display: none;
    grid-template:
        "sala1 sala2 sala3" 20%
        "sala4 sala5 sala6" 20%
        "sala7 sala8 sala9" 20%
        "sala10 sala11 sala12" 20%
        ". sala13 ." 20%
        /1fr 1fr 1fr
    ;
    background: #FFFFFF;
}

.analysis h2 {
    width: 100%;
    height: 2rem;
    text-align: center;
}

.sala1 { 
    grid-area: sala1;
    background: #f4c30159;
}

.sala2 { grid-area: sala2; }

.sala3 { 
    grid-area: sala3;
    background: #f4c30159;
}
.sala4 { grid-area: sala4; }

.sala5 { 
    grid-area: sala5;
    background: #f4c30159;
}

.sala6 { grid-area: sala6; }

.sala7 { 
    grid-area: sala7;
    background: #f4c30159;
}

.sala8 { grid-area: sala8; }

.sala9 { 
    grid-area: sala9;
    background: #f4c30159;
}

.sala10 { grid-area: sala10; }

.sala11 { 
    grid-area: sala11;
    background: #f4c30159;
}

.sala12 { grid-area: sala12; }

.sala13 { grid-area: sala13; }

.sala1, .sala2,
.sala3, .sala4,
.sala5, .sala6,
.sala7, .sala8,
.sala9, .sala10,
.sala11, .sala12,
.sala13 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.sectionUrnasApuradas, .qtdEleitores {
    width: 50%;
    height: 1.5rem;
    text-align: center;
    align-content: center;
}

.tableResults {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 249px 80px 100px 40px;
    justify-items: start;
    align-items: center;
}

.othersVotes {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template:
       "infos social" 100% 
       / 80% 20%
    ;
}

.infos {
    grid-area: infos;
    display: flex;
}

.project {
    margin: 0 45px;
    align-content: center;
    text-align: justify;
}

.urnaAviso {
    margin: 0 20px;
    padding: 15px 15px;
    align-content: center;
    text-align: justify;
    background: var(--colorOne);
}

.infos h3 {
    width: 63%;
    font-weight: 100;
    font-family: "Block Berthold Regular";
}

.infos a {
    text-decoration: none;
    color: var(--colorTwo);
    font-size: 1.5rem;
}

.urnaAviso p {
    color: var(--colorThree);
}

.footerSocial {
    grid-area: social;
}

.footerSocial-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.footerSocial-links a {
    width: 70%;
    height: 20%;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


@media (width < 1919px) {
    .logo img {
        width: 45%;
    }

    #first, #second {
        width: 45%;
    }

    footer {
        height: 11rem;
    }

    .infos h3 {
        width: 70%;
    }
}

@media (width < 769px) {
    .logo {
        width: 30%;
    }

    .logo img {
        width: 100%;
    }

    .headerSocial {
        width: 70%;
        font-size: 0.7rem;
    }

    nav label {
        width: 50%;
    }

    main {
        height: 150rem;
    }

    .candidates {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #candidato-First, #candidato-Second {
        font-size: 1rem;
    }

    .moreVotes {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-content: flex-start;
    }

    #first, #second {
        width: 100%;
        height: 20%;
        align-content: flex-start;
    }
    
    .lessVotes {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #third, #fourth, #fifth {
        width: 100%;
        height: 20%;
        align-content: flex-start;
    }
    
    footer {
        height: 36rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .project {
        margin: 0 10px;
    }

    .urnaAviso {
        margin: 0;
    }

    .footerSocial {
        width: 100%;
    }
}