/* --------- FOCUS/HOVER/ACTIVE EFFECT --------- */
.partyNumbers:focus { outline: none; }

/* --------- CSS PADRÃO --------- */
body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: #C2C2C2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main {
    width: 800px;
    height: 600px;
    border: solid 3px #000000;
    display: grid;
    grid-template: 
        "infos pics" 100%
        / 2fr 1fr
    ;
}

.infos {
    width: 100%;
    height: 100%;
    grid-area: infos;
    display: grid;
    grid-template:
        "head" 10%
        "role" 10%
        "candidatesInfos" 65%
        "subtitles" 15%
        / 1fr
    ;
    align-items: center;
}

.head { grid-area: head; }
.head h3 { font-weight: 100; }

.role { grid-area: role; }
.role h1 {
    text-align: center;
    font-weight: 600;
}

.candidatesInfos {
    grid-area: candidatesInfos;
    height: 100%;
    display: grid;
    grid-template:
        "labels inputs" 100%
        / 30% 2fr
    ;
}

.labels {
    padding-left: 5px;
    grid-area: labels;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.labels label {
    width: auto;
    height: 35px;
    align-content: center;
}

.inputs {
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 5px;
}

.inputs input {
    height: 35px;
    background: none;
    border: none;
    font-size: 20px;
    color: #000000;
}

#blankVote {
    display: none;
    font-size: 2.5rem;
    width: 100%;
    height: 35px;
    color: #4c4c4c;
}

#nullVote {
    display: none;
    font-size: 2rem;
    width: 100%;
    height: 35px;
    color: #000000;
}

.partyNumber {
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.partyNumber input {
    width: 40px;
    height: 60px;
    text-align: center;
    margin-left: 10px;
    font-size: 3.5rem;
}

.borderOn input { border: solid 1px #000000; }
.borderOff input { border: none }


.blinking { animation: blink-border 1s infinite; }

@keyframes blink-border {
    0% { border-color: #000000; }
    50% { border-color: transparent; }
    100% { border-color: #000000; }
}

#null {
    position: relative;
    bottom: 165px;
    left: 155px;
    width: 385px;
    height: 70px;
    display: none;
    font-size: 4rem;
    color: #000000;
    text-align: center;
}

.subtitles {
    grid-area: subtitles;
    padding-top: 10px;
    display: none;
    grid-template-columns: 25% 40%;
    justify-items: center;
    border-top: #000000 solid 3px;
}

.subtitles span { 
    width: 100%;
    height: 20px;
}

.subHead { text-align: right; }

.subtitlesLeft {
    margin-right: 20px;
    text-align: right;
}

.subtitlesRight { text-align: left; }

.pics {
    width: 100%;
    height: 100%;
    grid-area: pics;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
}

.candidate {
    width: 60%;
    height: 40%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.candidate img { width: 100%; }

.viceCandidate {
    width: 55%;
    height: 37%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.viceCandidate img { width: 100%; }

.loading {
    width: 800px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.loading span {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.loading .progress-bar{
   position: relative;
   left: 200px;
   height: 35px;
   background-color: #0fd439;
   animation: progress-animation 2s infinite;
}

@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 50%}
}

.end {
    width: 800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.end span {
    width: 750px;
    height: 550px;
    font-size: 12rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

/* ----- RESPOSIVIDADE ----- */

@media (width < 800px ) {
    body { overflow: auto; }

    main { 
        position: relative;
        left: 15px;
        min-width: 800px;
    }
}

@media (width < 426px ) {
    main { left: 195px; }
}

@media (width < 376px ) {
    main { left: 215px; }
}

@media (width < 350px ) {
    main { left: 250px; }
}